<!DOCTYPE html>
<html>
<head>
    <meta name="full-screen" content="yes" />
    <meta name="browsermode" content="application" />
    <link rel="icon shortcut bookmark" href="data:;base64,iVBORw0KGgo=" />
    <link rel="apple-touch-icon" href="data:;base64,iVBORw0KGgo=" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="x5-page-mode" content="app" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <link href="/static/css/bass.css" rel="stylesheet" type="text/css" />
    <script defer src="/static/js/zepto.min.js" type="text/javascript"></script>
    <script src="/static/js/base.js" type="text/javascript"></script>
    @RenderSection("head")
</head>
<body>
    @RenderSection("body")
</body>
</html>
